@if (formConfig.label  && formConfig.type != "checkbox") {
  <label [for]="formConfig.key" [id]="'label'+formConfig.key"
    class="roboto-regular text-base text-primary-800 mb-1 inline-block">
    {{formConfig.label}}
    @if (isRequired || controlDir.control?.errors?.['conditional_required'] === true) {
      <span class="text-error-500">*</span>
    }
  </label>
}
<div class="input-group flex items-center w-full">
  @if (formConfig.prefix ) {
    <span
      class="p-3 flex items-center justify-center text-primary-500 rounded-md h-12 roboto-regular text-base inline-bock border-neutral-300 border input-prefix"
      [ngClass]="{ '!border-success-400': controlDir.control?.touched && controlDir.control?.valid , '!border-error-500': controlDir.control?.touched && controlDir.control?.invalid }">
      <span [innerHTML]="formConfig.prefix | safeHtml"></span>
    </span>
  }
  <div class="relative flex-1">
    @if(formConfig.type == "textarea") {
      <textarea
        [id]="formConfig.key" [value]="controlDir.control?.value"
        [attr.cols]="formConfig.cols"
        [attr.rows]="formConfig.rows"
        class="border-neutral-300 border outline-0 text-primary-500 rounded-md p-3 w-full roboto-regular text-base "
        [placeholder]="formConfig.placeholder"
        [ngClass]="{ 'resize-none':  !formConfig.resize, '!border-success-400': controlDir.control?.touched && controlDir.control?.valid , '!border-error-500': controlDir.control?.touched && controlDir.control?.invalid }"
        (input)="onChange($any($event.target).value)" (blur)="onTouched();" [disabled]="disabled" ></textarea>
    } @else if (formConfig.type == "checkbox") {
      <div class="input-checkbox">
        <input
          [checked]="controlDir.control?.value"
          [id]="formConfig.key" [type]="formConfig.type" [value]="true" [name]="formConfig.key"
                    (change)="onChange($any($event.target).value)" (blur)="onTouched();" [disabled]="disabled"
        />
        <label [for]="formConfig.key" class="text-sm ">{{formConfig.label}}</label>
      </div>
    } @else if (formConfig.type == "radio") {
      <div class="flex gap-5">
        @for ( option of formConfig.options ; track option.id) {
          <label [for]="option.id" class="input-radio flex gap-1 items-center text-base">
            <input [checked]="controlDir.control?.value == option?.id" [id]="option.id" [type]="formConfig.type" [name]="formConfig.key" [value]="option?.id"
              (change)="onChange($any($event.target).value)" (blur)="onTouched();" [disabled]="disabled" />
            <span class="checkmark"></span>

            {{option.name}}
          </label>
        }
      </div>
    } @else {
      <input [id]="formConfig.key" [type]="formConfig.type" [value]="controlDir.control?.value"
        class="border-neutral-300 border outline-0  text-primary-500 rounded-md h-12 p-3 w-full roboto-regular text-base"
        [placeholder]="formConfig.placeholder"
        [min]="formConfig.inputConfig?.min"
        [max]="formConfig.inputConfig?.max"
        [ngClass]="{ ' !p-2': formConfig.type == 'file',  'input-prefix-form': formConfig.prefix,'!border-success-400': controlDir.control?.touched && controlDir.control?.valid , '!border-error-500': controlDir.control?.touched && controlDir.control?.invalid }"
        (input)="onChange($any($event.target).value)" (blur)="onTouched();" [disabled]="disabled"
      />
    }


    @if (formConfig.showValidationIcon && !(formConfig.type == 'password' || isEyeOpen)) {
      @if (controlDir.control?.touched && controlDir.control?.valid ) {
        <span class="material-icons text-success-400 icon-center cursor-pointer noselect ">
          {{ formConfig.success_icon || 'check' }}
        </span>
      }

      @if (controlDir.control?.touched && controlDir.control?.valid && formConfig.error_icon ) {
        <span class="material-icons text-success-400 icon-center cursor-pointer noselect ">
          {{ formConfig.error_icon }}
        </span>
      }
    }

    @if (formConfig.type == 'password' || isEyeOpen) {
      <span class="material-icons icon-center cursor-pointer noselect text-primary-700" [ngClass]="{'!text-success-400': controlDir.control?.touched && controlDir.control?.valid }" (click)="toggleEye()">
        {{ isEyeOpen ? 'visibility_off' :'visibility'}}
      </span>
    }

  </div>
</div>
@if (formConfig.helpText && !(controlDir.control?.touched && controlDir.control?.invalid)) {
  <div class="text-gray-600 text-xxs flex items-center gap-1">
    @if (controlDir.control?.touched && controlDir.control?.invalid) {
      <span class="material-icons text-base cursor-pointer noselect"
        [ngClass]="{ 'text-error-500': controlDir.control?.touched && controlDir.control?.invalid }">
        {{ 'error' }}
      </span>
    }
    {{formConfig.helpText }}
  </div>
}

@if (controlDir.control?.touched && controlDir.control?.invalid && formConfig.validations.length) {
  <div class="text-error-500 text-xxs flex items-center gap-1">
    <span class="material-icons text-base cursor-pointer noselect text-error-500">
      {{ 'error' }}
    </span>
    {{errorMessage(formConfig)}}
  </div>
}

