<div class="popup-container transition-opacity duration-300 ease-out flex justify-center items-center right-0 z-10 overflow-hidden absolute left-0 top-0 h-full popup-bg">
  <div class="p-7 rounded-md max-h-[90%] overflow-auto flex flex-col bg-white relative" [ngClass]="containerClass">
    <div class=" {{title ? 'text-primary-800 flex justify-between roboto-regular text-xxl border-b border-gray-100 pb-3' : 'absolute right-4 top-4'}}" [ngClass]="titleClass">
      {{title}}
      <app-button buttonSize="xs" [classes]="'w-10 !py-[2px] !px-[6px] '" (onClick)="_appStoreService.setPopupShowing()" buttonTheme="custom">
        <span class="material-icons text-gray-300 cursor-pointer noselect">
          close
        </span>
      </app-button>
    </div>
    <div class="pt-2 overflow-auto" [ngClass]="bodyClass">
      <ng-content select="[popup-body]"></ng-content>
    </div>
    <ng-content select="[popup-footer]"></ng-content>
  </div>
</div>
