@if(pagination.pageSize) {
    <div class="mat-paginator-container">
        <div class="mat-paginator-page-size">
            <div class="mat-paginator-page-size-label text-pagination-color">Items per page:</div>
            <select 
                [(ngModel)]="pagination.pageSize" 
                (ngModelChange)="paginationUpdateCallback({page: 1, per_page: pagination.pageSize })" 
                class="text-xs text-pagination-color" 
                style="padding: 8px 1px;"
            >
                <option [value]="10">10</option>
                <option [value]="15">15</option>
                <option [value]="25">25</option>
                <option [value]="50">50</option>
            </select>
        </div>
        <div class="mat-paginator-range-actions">
            <div class="mat-paginator-range-label text-pagination-color">{{((pagination.currentPage - 1 ) * pagination.pageSize) + 1}} - {{ ((pagination.currentPage - 1 )* pagination.pageSize) + currentPageCount }} of {{pagination.totalCount}}</div>
    
            <button 
                [disabled]="pagination.currentPage == 1" 
                class="ripple relative w-[30px] h-[30px] inline-flex justify-center items-center rounded-full" 
                (click)="paginationUpdateCallback({page: 1, per_page: pagination.pageSize })"
            >
                <span [ngClass]="{'text-pagination-color': !(pagination.currentPage == 1), 'text-pagination-disabled': pagination.currentPage == 1 }" class="material-icons text-pagination-color text-2sm">
                    first_page
                </span>
            </button>
          
            <button 
                [disabled]="pagination.currentPage == 1" 
                class="ripple relative w-[30px] h-[30px] inline-flex justify-center items-center rounded-full" 
                (click)="paginationUpdateCallback({page: pagination.currentPage - 1, per_page: pagination.pageSize })"
            >
                <span [ngClass]="{'text-pagination-color': !(pagination.currentPage == 1), 'text-pagination-disabled': pagination.currentPage == 1 }" class="material-icons text-pagination-color text-2sm">
                    chevron_left
                </span>
            </button>
           
            <button 
                [disabled]="pagination.currentPage == pagination.totalPages" 
                class="ripple relative w-[30px] h-[30px] inline-flex justify-center items-center rounded-full" 
                (click)="paginationUpdateCallback({page: pagination.currentPage + 1, per_page: pagination.pageSize })"
            >
                <span [ngClass]="{'text-pagination-color': !(pagination.currentPage == pagination.totalPages), 'text-pagination-disabled': pagination.currentPage == pagination.totalPages }" class="material-icons text-pagination-color text-2sm">
                    chevron_right
                </span>
            </button>
    
            <button 
                [disabled]="pagination.currentPage == pagination.totalPages" 
                class="ripple relative w-[30px] h-[30px] inline-flex justify-center items-center rounded-full" 
                (click)="paginationUpdateCallback({page: pagination.totalPages, per_page: pagination.pageSize })"
            >
                <span [ngClass]="{'text-pagination-color': !(pagination.currentPage == pagination.totalPages), 'text-pagination-disabled': pagination.currentPage == pagination.totalPages }" class="material-icons text-pagination-color text-2sm">
                    last_page
                </span>
            </button>
        </div>
        
    </div>
}
