<div class="card-box-sahdow bg-white rounded-lg p-2 min-w-56 h-full">
  <div class="flex justify-center items-center py-5 border-b border-gray-100">
    <img class="h-16 w-16 max-laptop:h-20 max-laptop:w-20 " [src]="staticImages.logo" />
  </div>
  <div class="py-4 flex flex-col justify-between" style="height: calc(100% - 105px);">
    <div>
      @for ( item of menuItems; track item.name) {
        <a  class="p-3 hover:opacity-100 flex items-center gap-3  ripple rounded text-primary-500 cursor-pointer opacity-70  relative bg-white" [routerLinkActive]="'!opacity-100 active-link text-white !bg-primary-500  border-r-[3px] border-primary-500'"  [routerLink]="[item.route]">
          <span class="material-icons  text-md cursor-pointer  ">
            {{ item.icon }}
          </span>
          <span class="roboto-medium text-sm laptop:text-base ">{{item.name}}</span>
        </a>
      }
    </div>
    <div class="p-3">
      <div class="p-3 py-6 rounded-md"
        style="background: linear-gradient(to right, rgba(0, 62, 133, 1) 0%, rgba(0, 62, 133, 0.7) 100%);box-shadow: 0px 10px 30px 0px rgba(103, 174, 255, 0.5);">
        <div class="h-11 w-11 flex justify-center items-center rounded-full overflow-hidden bg-white m-auto">
          <img [src]="staticImages.rocket" class="h-9 w-9" />
        </div>
        <div class="text-white my-3 roboto-regular text-center text-[15px]">Super Admin</div>
        <div class="flex justify-center mt-2">
          <app-button [buttonTheme]="'secondary'" [buttonSize]="'xs'" [classes]="' text-x-base '">
            <div class="flex justify-between  gap-2 items-center">
              <span class="material-icons text-white text-md cursor-pointer  ">
                {{ 'logout' }}
              </span>
              <span class="roboto-regular text-x-base">Log out</span>
            </div>
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
