<div  class="w-full overflow-auto">
  <table class="w-full">
    <thead>
      <tr>
        @for ( colDef of colsDef; track colDef.columnKey) {
          <td class="bg-neutral-100 py-[10px] px-3 roboto-medium text-base text-primary-800" [ngClass]="{'text-center': colDef.columnType == 'action'}" [ngStyle]="{'min-width': colDef.columnWidth }">{{colDef.columnName}}</td>
        }
      </tr>
    </thead>
    <tbody>
      @for (rowData of tableRowData; track rowData.id; let index = $index) {
        <tr>
          @for ( colDef of colsDef; track colDef.columnKey) {
            <td class="py-[10px] px-3 roboto-regular border-b border-gray-100 text-gray-700 text-base">
              @switch (colDef.columnType) {
                @case ('text') {
                  {{ getColumnData(colDef.columnKey, rowData) }}
                }
                @case ('index') {
                  {{ index + 1 }}
                }
                @case ('html') {
                  <span [innerHTML]="rowData[colDef.columnKey]"></span>
                }
                @case ('action') {
                  <div class="flex items-center justify-center">
                    @for ( action of tableConfigs.actions; track action.action_id) {
                      <app-button buttonSize="xs" (onClick)="tableAction({action, data: rowData})" [classes]="'w-10 !py-[2px] !px-[6px] '+ action.classes "  buttonTheme="custom">
                        <span class="material-icons w-4 text-md cursor-pointer noselect ">
                          {{ action.icon }}
                        </span>
                        {{ action.action_name }}
                      </app-button>
                    }
                  </div>
                }
                @case ('image') {
                  <img
                    class="h-[50px] w-[90px] rounded-md"
                    [src]="getColumnData(colDef.columnKey, rowData) || staticImages.no_image "
                    srcset="{{getColumnData(colDef.columnKey, rowData)}} 1024w, {{getColumnData(colDef.columnKey, rowData)}} 640w, {{getColumnData(colDef.columnKey, rowData)}} 320w"
                    sizes="(max-width: 1024px) 100vw, (max-width: 640px) 50vw, 100vw"
                  />
                }
                @default {
                  {{rowData[colDef.columnKey]}}
                }
              }
            </td>
          }
        </tr>
      }

      @if (tableRowData.length == 0) {
        <tr>
          <td [attr.colspan]="colsDef.length" class="p-7 ">
            <div class="flex items-center justify-center flex-col">
              <img [src]="staticImages.no_data_available" />
              <div class="text-primary-800 text-lg roboto-regular">No data available!</div>
              @if (tableConfigs.createButtonLabel) {
              <app-button (onClick)="tableAction({action: 'create', data: null})" buttonSize="xs" classes=" mt-4" buttonTheme="primary-outlined">
                <div class="flex items-center justify-center gap-1">
                  <span class="material-icons text-md cursor-pointer noselect ">
                    {{ 'add' }}
                  </span>
                  <span>{{tableConfigs.createButtonLabel}}</span>
                </div>
              </app-button>
              }
            </div>
          </td>
        </tr>
      }


      <!-- <tr>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">1</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">TBL one</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">
          <img
            src="https://s3-alpha-sig.figma.com/img/b21b/d94a/b37db16407e54e952d299f02ba7e971e?Expires=1721001600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ShZXMUJ3MadkGiE8kufBmeuPF4p0jJgxD94Gw4jo4MFqMNvaSDI5dJI6UhKQcCNsqQNscLHWkvXAhlhknq8u8qNJ2sJtBGOZZv-6d-~xaiRSRxV892Aydw7SeNUmRt0dfJpr-LXYcbhDxDM41Kzn7NUQpDdV8ZCyt-mk3ALVIH7TtsiQWSqt0Owrp7v48Gb~A~IUHG~1CjCylG9rWlGd6vWHUwzfvuGvk99Ta3E9ygvA-DIEdAJ373mM9haWAt04YawVzHVg9W88WW4C4WjLholXSWkz6x4MLOvp~dLaWeFBUFr3uStOP2bTc-9gYEzkzNJsJdonixLFTPVJLpi4Jg__"
            class="h-[50px] w-[90px] rounded-md" />
        </td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">Bangalore</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">Koramangala</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">Action</td>
      </tr>
      <tr>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">1</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">TBL one</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">
          <img
            src="https://s3-alpha-sig.figma.com/img/b21b/d94a/b37db16407e54e952d299f02ba7e971e?Expires=1721001600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ShZXMUJ3MadkGiE8kufBmeuPF4p0jJgxD94Gw4jo4MFqMNvaSDI5dJI6UhKQcCNsqQNscLHWkvXAhlhknq8u8qNJ2sJtBGOZZv-6d-~xaiRSRxV892Aydw7SeNUmRt0dfJpr-LXYcbhDxDM41Kzn7NUQpDdV8ZCyt-mk3ALVIH7TtsiQWSqt0Owrp7v48Gb~A~IUHG~1CjCylG9rWlGd6vWHUwzfvuGvk99Ta3E9ygvA-DIEdAJ373mM9haWAt04YawVzHVg9W88WW4C4WjLholXSWkz6x4MLOvp~dLaWeFBUFr3uStOP2bTc-9gYEzkzNJsJdonixLFTPVJLpi4Jg__"
            class="h-[50px] w-[90px] rounded-md" />
        </td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">Bangalore</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">Koramangala</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">Action</td>
      </tr>
      <tr>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">1</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">TBL one</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">
          <img
            src="https://s3-alpha-sig.figma.com/img/b21b/d94a/b37db16407e54e952d299f02ba7e971e?Expires=1721001600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ShZXMUJ3MadkGiE8kufBmeuPF4p0jJgxD94Gw4jo4MFqMNvaSDI5dJI6UhKQcCNsqQNscLHWkvXAhlhknq8u8qNJ2sJtBGOZZv-6d-~xaiRSRxV892Aydw7SeNUmRt0dfJpr-LXYcbhDxDM41Kzn7NUQpDdV8ZCyt-mk3ALVIH7TtsiQWSqt0Owrp7v48Gb~A~IUHG~1CjCylG9rWlGd6vWHUwzfvuGvk99Ta3E9ygvA-DIEdAJ373mM9haWAt04YawVzHVg9W88WW4C4WjLholXSWkz6x4MLOvp~dLaWeFBUFr3uStOP2bTc-9gYEzkzNJsJdonixLFTPVJLpi4Jg__"
            class="h-[50px] w-[90px] rounded-md" />
        </td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">Bangalore</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">Koramangala</td>
        <td class="py-[10px] px-3 roboto-regular text-gray-700 text-base">Action</td>
      </tr> -->
    </tbody>
  </table>

</div>
