<div  class="w-full overflow-auto">
  <table class="w-full">
    <thead>
      <tr>
        @for ( colDef of colsDef; track colDef.columnKey) {
          <td class="bg-neutral-100 py-[10px] px-3 roboto-medium text-base text-primary-800" [ngClass]="{'text-center': colDef.columnType == 'action'}" [ngStyle]="{'min-width': colDef.columnWidth }">{{colDef.columnName}}</td>
        }
      </tr>
    </thead>
    <tbody>
      @for (rowData of tableRowData; track rowData.id; let index = $index) {
        <tr>
          @for ( colDef of colsDef; track colDef.columnKey) {
            <td class="py-[10px] px-3 roboto-regular border-b border-gray-100 text-gray-700 text-base ">
              @switch (colDef.columnType) {
                @case ('text') {
                  {{ getColumnData(colDef.columnKey, rowData) }}
                }
                @case ('index') {
                  @if (tableConfigs.pagination && tableConfigs.pagination?.currentPage) {
                    {{ ((tableConfigs.pagination.currentPage  - 1) * tableConfigs.pagination.pageSize) +   index + 1 }}
                  } @else {
                    {{ index + 1 }}
                  }
                  
                }
                @case ('html') {
                  <span [innerHTML]="rowData[colDef.columnKey]"></span>
                }
                @case ('format') {
                <span [innerHTML]="colDef.cellFormatFn!(rowData[colDef.columnKey])"></span>
                }
                @case ('action') {
                  <div class="flex items-center justify-center">
                    @for ( action of tableConfigs.actions; track action.action_id) {
                      @if( checkActionShow(action, rowData)) {
                        <app-button buttonSize="xs" (onClick)="tableAction({action, data: rowData})" [classes]="'w-10 !py-[2px] !px-[6px] '+ action.classes "  buttonTheme="custom">
                          <span class="material-icons w-4 text-md cursor-pointer noselect ">
                            {{ action.icon }}
                          </span>
                          {{ action.action_name }}
                        </app-button>
                      }
                     
                    }
                  </div>
                }
                @case ('image') {
                  <img
                    class="h-[50px] w-[90px] rounded-md"
                    [src]="getColumnData(colDef.columnKey, rowData) || staticImages.no_image "
                  />
                }
                @default {
                  {{rowData[colDef.columnKey]}}
                }
              }
            </td>
          }
        </tr>
      }

      @if (tableRowData.length == 0) {
        <tr>
          <td [attr.colspan]="colsDef.length" class="p-7 ">
            <div class="flex items-center justify-center flex-col">
              <img [src]="staticImages.no_data_available" />
              <div class="text-primary-800 text-lg roboto-regular">No data available!</div>
              @if (tableConfigs.createButtonLabel) {
              <app-button (onClick)="tableAction({action: 'create', data: null})" buttonSize="xs" classes=" mt-4" buttonTheme="primary-outlined">
                <div class="flex items-center justify-center gap-1">
                  <span class="material-icons text-md cursor-pointer noselect ">
                    {{ 'add' }}
                  </span>
                  <span>{{tableConfigs.createButtonLabel}}</span>
                </div>
              </app-button>
              }
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pt-3">
    @if(tableConfigs.pagination) {
      <app-pagination [currentPageCount]="tableRowData.length" (onPaginationChange)="paginationChange($event)" [pagination]="tableConfigs.pagination"></app-pagination>
    }
    
  </div>  
  
</div>
