<app-main-container>
  <div class="h-full d-flex flex-col">
    <app-page-header pageTitle="Manage Wallet" ></app-page-header>
    <div class="overflow-auto h-[calc(100%-80px)]">
      <div class="flex max-tablet:flex-col max-sm:gap-4 gap-6">
        <div class="flex-1">
          <app-form [formGroup]="userDetailsForm" (formOutput)="submitFormData($event, 'userDetails')" [formData]="cashierFormConfig"></app-form>
        </div>
        <div class="flex-1">

          @if (userDetails()) {
            <div class="bg-neutral-100 p-4 rounded-md">
              <app-title size="lg" theme="secondary" classes="roboto-medium">{{"Customer Details"}}</app-title>
              <div class="mt-4">
                <div class="flex justify-between item-center mt-2">
                  <div>
                    <app-title size="base" classes="roboto-regular !text-gray-400">{{"Phone Number"}}</app-title>
                  </div>
                  <div>
                    <app-title size="base" theme="primary" classes="roboto-medium">{{userDetails()!.phone_number}}</app-title>
                  </div>
                </div>
                <div class="flex justify-between item-center mt-2">
                  <div>
                    <app-title size="base" classes="roboto-regular !text-gray-400">{{"Customer Name"}}</app-title>
                  </div>
                  <div>
                    <app-title size="base" theme="primary" classes="roboto-medium">{{userDetails()!.name}}</app-title>
                  </div>
                </div>
                <div class="flex justify-between item-center mt-2">
                  <div>
                    <app-title size="base" classes="roboto-regular !text-gray-400">{{"Wallet Points"}}</app-title>
                  </div>
                  <div>
                    <app-title size="base" theme="primary" classes="roboto-medium">{{userDetails()!.balance_amount}}</app-title>
                  </div>
                </div>
                <div class="flex justify-between item-center mt-2">
                  <div>
                    <app-title size="base" classes="roboto-regular !text-gray-400">{{"Last updated on"}}</app-title>
                  </div>
                  <div>
                    <app-title size="base" theme="primary" classes="roboto-medium">{{userDetails()!.last_updated_on | momentDate: 'DD/MM/YYYY hh:mm A'}}</app-title>
                  </div>
                </div>
              </div>
            </div>
          
          }
        </div>
      </div>
      @if (userDetails()) {
      
        <div class="mt-4 md:h-[calc(100%-204px)]" >
          <app-tabs tabBodyClass="h-[calc(100%-58.7px)] overflow-auto" class="h-full block">
            <tab-item [active]="true">
              <ng-template #tabHeader>
              <div class="flex item-center items-center gap-2 max-tablet:text-xs justify-center">
                <svg-icon
                  icon="wallet"
                  [width]="18"
                  [height]="18"
                />
                Calculate Wallet Points
              </div>
              </ng-template>
              <ng-template #tabContent>
                <div class="flex max-tablet:flex-col gap-4 sm:gap-6">
                  <div class="p-4 border border-primary-500 rounded-md mt-4 sm:w-1/2">
                    <app-title size="lg" theme="secondary" classes="roboto-medium">{{"Calculate Wallet Points"}}</app-title>
                    <div class="mt-4 ">
                      <app-form [formGroup]="calculateFormGroup" (formOutput)="submitFormData($event, 'updateWallet')" [formData]="cashierWalletCaluclationFormConfig"></app-form>
                    </div>
                  </div>
                  <div class="sm:w-1/2 max-sm:hidden"></div>
                </div>
              </ng-template>  
            </tab-item>
            <tab-item >
              <ng-template #tabHeader>
              <div class="flex item-center items-center gap-2 max-tablet:text-xs justify-center">
                <svg-icon
                  icon="history"
                  [width]="18"
                  [height]="18"
                />
                  Wallet History
              </div>
              </ng-template>
              <ng-template #tabContent>
                  <app-table class="block h-full overflow-auto" [tableRowData]="walletHistoriesData || []" [tableConfigs]="tableConfigs"></app-table>
              </ng-template>  
            </tab-item>
          </app-tabs>
        </div>
      }
    </div>
  </div>
</app-main-container>

<ng-template #walletPopupContent>
  @if (popupDetails) {
    <div>
      <app-title size="xl" theme="secondary" classes="roboto-medium text-center">{{"Discount Amount is ₹" + popupDetails.offer_amount }}</app-title>
      <div class="flex w-full justify-between pt-4">
        <app-title size="sm" theme="secondary" classes="roboto-regular">{{"Earned Wallet Points"}}</app-title>
        <app-title size="md" theme="secondary" classes="roboto-medium">{{popupDetails.earned_point}}</app-title>
      </div>
      <div class="flex justify-between pt-4 pb-4">
        <app-title size="sm" theme="secondary" classes="roboto-regular">{{"Total Wallet Points"}}</app-title>
        <app-title size="md" theme="secondary" classes="roboto-medium">{{popupDetails.total_wallet_points}}</app-title>
      </div>
      <div class="pt-4 flex justify-between  border-t border-gray-200">
        <app-title size="lg" theme="secondary" classes="roboto-medium">{{"Final Bill Amount"}}</app-title>
        <app-title size="lg" theme="secondary" classes="roboto-medium">{{"₹"+popupDetails.total_amount}}</app-title>
      </div>
    </div>
     @if(!popupDetails?.error_message) {
      <div class="flex justify-between mt-4 ">
        <app-button (onClick)="addOrRedeemWalletPoints('add')" classes="roboto-regular opacity-[.90]" buttonTheme="success" buttonSize="sm">
          <span class="roboto-regular text-base-2" style="line-height: normal;">
            {{"Add"}}
          </span>
        </app-button>
        <app-button (onClick)="addOrRedeemWalletPoints('redeem')"  classes="roboto-regular opacity-[.90]" buttonTheme="danger" buttonSize="sm">
          <span class="roboto-regular text-base-2" style="line-height: normal;">
            {{"Redeem"}}
          </span>
        </app-button>
      </div>
    } @else { 
      <div class="mt-4 text-red-500 text-xs text-center roboto-regular">
        {{popupDetails.error_message}}      
      </div>
    }
  }
</ng-template>

<ng-template #successWalletPopupContent>
  <div class="flex flex-col items-center justify-center p-4">
    <img [src]="IMAGE_CONSTANTS.confirmation_mark" class="w-16 h-16 mx-auto" alt="Confirmation Mark">
    <app-title size="xl" theme="" classes="roboto-medium text-center !text-success-500">{{"Congratulations!" }}</app-title>
    <div [innerHTML]="popupDetails.message" class="mt-2 text-base text-center roboto-regular"></div>
  </div>
</ng-template>


@if (_appStoreService.getPopupShowing()) {
  <app-popup containerClass="tablet:w-[480px] w-[90%]">
    <ng-container popup-body>
      @if (popupType == "calculateWallet") {
        <ng-container *ngTemplateOutlet="walletPopupContent"></ng-container>
      }
      @if(popupType == "successWallet") {
        <ng-container *ngTemplateOutlet="successWalletPopupContent"></ng-container>
      }
    </ng-container>
  </app-popup>
}
