<div class="flex sticky pt-5 top-0 bg-white justify-between items-center mb-6">
  <app-title size="xxl" theme="secondary" classes="roboto-medium max-tablet:!text-xl">{{pageTitle}}</app-title>

  <div class="flex gap-4">
    <ng-content></ng-content>
    <app-button class="laptop:!hidden " (onClick)="_appStoreService.toggleSideMenuOpened()" buttonSize="sm" classes="!p-1" buttonTheme="">
      <div class="h-7 flex items-center">
        <img [src]="staticImages.menu" class="" />
      </div>
    </app-button>
  </div>
</div>
