<app-main-container>
  <div class="flex justify-between  items-center">
    <app-title size="xxl" theme="secondary" classes="roboto-medium max-tablet:!text-xl">{{configurations?.title}}</app-title>
    <div class="laptop:flex gap-3 items-center hidden">
      @for ( pageAction of configurations?.pageActions; track pageAction.action_id) {
        <app-button buttonSize="xs" (onClick)="actionCTA(pageAction)" [buttonTheme]="pageAction.button_theme">
          <div class="flex items-center justify-center gap-1">
            @if (pageAction.icon) {
              <span class="material-icons text-md cursor-pointer noselect ">
                {{ pageAction.icon }}
              </span>
            }
            <span>{{pageAction.label}}</span>
          </div>
        </app-button>
      }

    </div>
    <div class="laptop:hidden block">
      <app-button (onClick)="_appStoreService.toggleSideMenuOpened()" buttonSize="sm" classes="!p-0" buttonTheme="">
        <div class="h-7 flex items-center">
          <img [src]="staticImages.menu" class="" />
        </div>
      </app-button>
    </div>
  </div>

  <div class="mt-6">
    @if (configurations?.tableConfigs) {
      <app-table (tableActionCTA)="actionCTA($event)" [tableRowData]="tableData || []" [tableConfigs]="configurations?.tableConfigs!"></app-table>
    }
  </div>

  @if (_appStoreService.getPopupShowing()) {
    <app-popup [title]="'Create New Outlet'" containerClass="tablet:w-[460px] w-[90%]">
      @if (configurations?.formConfigs) {
      <div class="pt-3">
        <app-form [formGroup]="formGroup" (formOutput)="onSubmit($event)" [formData]="configurations?.formConfigs!"></app-form>
      </div>
      }
    </app-popup>
  }

</app-main-container>


