<app-main-container>
  <app-page-header [pageTitle]="configurations?.title || ''">
    <div class="laptop:flex gap-3 items-center hidden">
      @for ( pageAction of configurations?.pageActions; track pageAction.action_id) {
        <app-button buttonSize="xs" (onClick)="actionCTA(pageAction)" [buttonTheme]="pageAction.button_theme">
          <div class="flex items-center justify-center gap-1">
            @if (pageAction.icon) {
            <span class="material-icons text-md cursor-pointer noselect ">
              {{ pageAction.icon }}
            </span>
            }
            <span>{{pageAction.label}}</span>
          </div>
        </app-button>
      }
    </div>
  </app-page-header>

  <div>
    @if (configurations?.tableConfigs) {
      <app-table (tableActionCTA)="actionCTA($event)" [tableRowData]="tableData || []" [tableConfigs]="configurations?.tableConfigs!"></app-table>
    }
  </div>

  @if (_appStoreService.getPopupShowing()) {
    <app-popup bodyClass="scrollbar-hide" [title]="selectedAction.label" containerClass="tablet:w-[460px]  w-[90%]">
        <ng-container popup-body>
          <div class="pt-1">
            <app-form [formGroup]="formGroup" (onSubChildFormReady)="onSubChildFormReady($event)" [data]="selectedData" [showFormActions]="false" [formData]="configurations?.formConfigs!"></app-form>
          </div>
        </ng-container>
        <ng-container popup-footer>
          <app-form-actions  [formGroup]="formGroup"  [actions]="configurations?.formConfigs!.actions"
            (formAction)="onSubmit($event)"></app-form-actions>
        </ng-container>
    </app-popup>
  }

</app-main-container>


