<app-main-container>
  <div class="flex justify-between items-center">
    <app-title size="xl" theme="secondary" classes="roboto-medium max-tablet:text-lg">Manage Outlets</app-title>
    <div class="laptop:block hidden">
      <app-button buttonSize="xs" buttonTheme="primary-outlined">
        <div class="flex items-center justify-center gap-1">
          <span class="material-icons text-md cursor-pointer noselect ">
            {{ 'add' }}
          </span>
          <span>Create New Outlet </span>
        </div>
      </app-button>
    </div>

    <div class="laptop:hidden block">
      <app-button (onClick)="_appStoreService.toggleSideMenuOpened()" buttonSize="sm" buttonTheme="">
        <div class="h-7 flex items-center">
          <img [src]="staticImages.menu" class="" />
        </div>
      </app-button>
    </div>
  </div>

</app-main-container>
