<form [formGroup]="formGroup" autocomplete="off" class="flex flex-col gap-3">
  @for ( formQuestion of formData['controls']; track formQuestion.key) {
    @switch (formQuestion.controlType) {
      @case ("textfield") {
        <app-input [formControlName]="formQuestion.key" [formConfig]="formQuestion" />
      }
      @case ("file") {
        <app-input-file [formControlName]="formQuestion.key" [formConfig]="formQuestion" />
      }
      @case ("dropdown") {
        <app-input-select [formControlName]="formQuestion.key" [formConfig]="formQuestion" />
      }
    }
  }

  @if (showFormActions) {
    <app-form-actions [formGroup]="formGroup" [actions]="formData.actions" (formAction)="formAction($event)"></app-form-actions>
  }
</form>
