<form [formGroup]="formGroup" autocomplete="off" class="flex flex-col gap-3">
  @for ( formQuestion of formData['controls']; track formQuestion.key) {
    @switch (formQuestion.controlType) {
      @case ("textfield") {
        <app-input [formControlName]="formQuestion.key" [formConfig]="formQuestion" />
      }
      @case ("file") {
        <app-input-file [formControlName]="formQuestion.key" [formConfig]="formQuestion" />
      }
      @case ("dropdown") {
        <app-input-select [formControlName]="formQuestion.key" [formConfig]="formQuestion" />
      }
    }
  }
  <div class="w-full flex justify-between gap-3">
    @for ( action of formData.actions ; track action.actionType) {
      <app-button
        [classes]="action.buttonConfig?.classes + ' mt-3 ' || '' "
        [buttonRadius]="action.buttonConfig?.buttonRadius || 'md'"
        [buttonSize]="action.buttonConfig?.buttonSize || 'md'"
        [buttonType]="action.buttonConfig?.buttonType || 'button'"
        [disabled]="((action.validationDisable || false) && formGroup.invalid)"
        [style]="action.buttonConfig?.style || {}"
        [rounded]="action.buttonConfig?.rounded || false"
        [fullWidth]="action.buttonConfig?.fullWidth || false"
        (onClick)="formAction(action)"
        class="w-full"
      >
        {{action.label}}
      </app-button>
    }
  </div>

</form>
