<div class="bg-white h-full w-full fixed  z-10 top-0 right-0 left-0 bottom-0">
  <div class=" flex justify-center h-full w-full loader-container  items-center">
    <section class="loading-data">
      <h2 class="loading-text text-center text-uppercase">
        <span class="char">L</span>
        <span class="char">o</span>
        <span class="char">a</span>
        <span class="char">d</span>
        <span class="char">i</span>
        <span class="char">n</span>
        <span class="char">g</span>
      </h2>
    </section>
    <div class="beer-wrapper">
      <div class="beer">
        <div class="beer__body">
          <div class="beer__liquid">
            <div class="beer__kiho"></div>
            <div class="beer__kiho"></div>
          </div>
        </div>
        <div class="beer__bubble"></div>
        <div class="beer__foot beer__foot--left"></div>
        <div class="beer__foot beer__foot--right"></div>
      </div>
    </div>
  </div>
</div>

