<div class="fixed flex justify-center loader-container  items-center z-10 top-0 right-0 left-0 bottom-0">
  <p>Loading...</p>
  <div class="beer-wrapper">

    <div class="beer">
      <div class="beer__body">
        <div class="beer__liquid">
          <div class="beer__kiho"></div>
          <div class="beer__kiho"></div>
        </div>
      </div>
      <div class="beer__bubble"></div>
      <div class="beer__foot beer__foot--left"></div>
      <div class="beer__foot beer__foot--right"></div>
    </div>
  </div>
</div>
